.container {
  width: 1200px;
  margin: 0 auto;
}

.post {
  margin-top: 50px;
  padding: 10px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__button button {
      margin: 5px 5px
    }
  }

  &__content {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  h1 {
    margin-bottom: .5rem;
  }

  .info {
    strong {
      margin-right: 1rem;
    }
  }
}
