<form class="form" [formGroup]="form" (ngSubmit)="submit()">

  <h2 class="form__title">Форма</h2>
  <div class="form__groupcontrol">
    <mat-form-field class="form__control" appearance="outline">
      <mat-label>Имя</mat-label>
      <input type="name" matInput formControlName="name" [errorStateMatcher]="matcher" placeholder="Имя">
      <mat-error *ngIf="form.controls['name'].hasError('required')">Введите имя</mat-error>
    </mat-form-field>
  
    <mat-form-field class="form__control" appearance="outline">
      <mat-label>Фамилия</mat-label>
      <input type="surname" matInput formControlName="surname" [errorStateMatcher]="matcher" placeholder="Фамилия">
      <mat-error *ngIf="form.controls['surname'].hasError('required')">Введите фамилию</mat-error>
    </mat-form-field>
  </div>

  <div class="form__groupcontrol">
    <mat-form-field class="form__control" appearance="outline">
      <mat-label>Возраст</mat-label>
      <input type="age" matInput formControlName="age" [errorStateMatcher]="matcher" placeholder="Возраст">
      <mat-error *ngIf="form.controls['age'].hasError('required')">Введите возраст</mat-error>
      <mat-error *ngIf="form.controls['age'].hasError('min')">Ограничение по возрасту 18+</mat-error>
      <mat-error *ngIf="form.controls['age'].hasError('max')">Максимально допустипый возраст 65 лет</mat-error>
    </mat-form-field>

    <!-- <mat-form-field class="form__control" appearance="outline">
      <mat-label>Дата рождения</mat-label>
      <input type="dateOfBirth" matInput formControlName="dateOfBirth" [errorStateMatcher]="matcher" placeholder="Дата рождения">
      <mat-error *ngIf="form.controls['dateOfBirth'].hasError('required')">Введите возраст</mat-error>
    </mat-form-field> -->
    <mat-form-field class="form__control" appearance="outline">
      <mat-label>Дата рождения</mat-label>
      <input matInput formControlName="dateOfBirth" [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
  </div>

  <mat-form-field class="form__control" appearance="outline">
    <mat-label>Адрес</mat-label>
    <input type="address" matInput formControlName="address" [errorStateMatcher]="matcher" placeholder="Адрес">
    <mat-error *ngIf="form.controls['address'].hasError('required')">Заполните поле</mat-error>
  </mat-form-field>

  <mat-form-field class="form__control" appearance="outline">
    <mat-label>Почта</mat-label>
    <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher" placeholder="Почта">
    <mat-error *ngIf="form.controls['email'].hasError('required')">Заполните поле</mat-error>
  </mat-form-field>

  <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid || submitted">Отправить</button>
  <!-- <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid || submitted">
    <mat-icon>
      error_outline
    </mat-icon>
  </button>
  <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid || submitted">
    <mat-icon>
      check_circle
    </mat-icon>
  </button>
  <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid || submitted">
    <mat-icon>
      report_problem
    </mat-icon>
  </button> -->

</form>
