<div class="promotion__timer">
  <h3 class="title">До нового года осталось:</h3>
  <div class="timer">
    <div class="timer__block">
        <span id="days">12</span>
        дней
    </div>
    <div class="timer__block">
        <span id="hours">20</span>
        часов
    </div>
    <div class="timer__block">
        <span id="minutes">56</span>
        минут
    </div>
    <div class="timer__block">
        <span id="seconds">20</span>
        секунд
    </div>
  </div>
</div>

<script src="../../../../assets/jquery/jquery.js"></script>
<script src="../../../../assets/jquery/main.js"></script>
<script>
  const currentyear = new Date().getFullYear();
  const thischristmasyear = (new Date().getMonth() == 0 && new Date().getDate()==1) ? currentyear : currentyear + 1 ; 
  const christmas=`january 1, ${thischristmasyear} 0:0:00`;
  const currentTime = new Date();
  const targetdate = new Date(christmas);  		
  const timediff = (targetdate-currentTime) / 1000;
  const oneMinute = 60;
  const oneHour = 60 * 60;
  const oneDay = 60 * 60 * 24;
  const dayfield = Math.floor(timediff / oneDay);
  const hourfield = Math.floor((timediff - dayfield * oneDay) / oneHour);
  const minutefield = Math.floor((timediff - dayfield * oneDay - hourfield * oneHour) / oneMinute);
  const secondfield = Math.floor((timediff - dayfield * oneDay - hourfield * oneHour - minutefield * oneMinute));
  $(function(){
    $('.c-block:eq(0) .bl-inner span').text(dayfield);
    $('.c-block:eq(1) .bl-inner span').text(hourfield);
    $('.c-block:eq(2) .bl-inner span').text(minutefield);
    $('.c-block:eq(3) .bl-inner span').text(secondfield);
  });
</script>
<div class="body">
  <div class="timer-container">
    <div class="header">			
      <div class="time">
        <em class="clock"></em>
        <div class="c-block c-block-3"><div class="bl-inner"><span>10</span></div> <span class="etitle etitle-1">дней</span></div> 
        <div class="c-block c-block-2"><div class="bl-inner"><span>10</span></div> <span class="etitle etitle-2">часов</span></div> 
        <div class="c-block c-block-2"><div class="bl-inner"><span>10</span></div> <span class="etitle etitle-3">минут</span></div> 
        <div class="c-block c-block-2"><div class="bl-inner"><span>5</span></div> <span class="etitle etitle-4">секунд</span></div>
      </div>
    </div>
  </div>
</div>
