<form class="form" [formGroup]="form" (ngSubmit)="submitArticle()">

  <h2 class="form__title">Форма добавления нового раздела</h2>
  <mat-form-field class="form__control" appearance="outline">
    <mat-label>Заголовок раздела</mat-label>
    <input type="title" matInput formControlName="title" [errorStateMatcher]="matcher" placeholder="название раздела">
    <mat-error *ngIf="form.controls['title'].hasError('required')">Введите название раздела!</mat-error>
  </mat-form-field>

  <mat-form-field class="form__control" appearance="outline">
    <mat-label>Автор добавленного раздела</mat-label>
    <input type="author" matInput formControlName="author" [errorStateMatcher]="matcher" placeholder="имя автора">
    <mat-error *ngIf="form.controls['author'].hasError('required')">Введите имя автора раздела!</mat-error>
  </mat-form-field>

  <mat-form-field class="form__control" appearance="outline">
    <mat-label>Введите теги для поиска</mat-label>
    <input type="tags" matInput formControlName="tags" [errorStateMatcher]="matcher" placeholder="теги">
    <mat-error *ngIf="form.controls['tags'].hasError('required')">Добавьте хотя бы один тег!</mat-error>
  </mat-form-field>

  <div class="form__control">
    <label>Содержание раздела</label>
    <quill-editor formControlName="content"></quill-editor>
  </div>

  <button type="submit" class="btn click" [disabled]="form.invalid || submitted">Создать раздел</button>

</form>
