@import '../../assets/styles/popup.scss';
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

::ng-deep .ol-scale-line {
    color: rgb(12, 12, 12);
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    bottom: 2%;
    right: 95%;
    background-color: rgb(255, 255, 255, 0.6);
    width: 87px;
    padding: 3px 12px;
}

// Может понадобиться для отрисовки контролов на новых картах(фреймах)

// ::ng-deep .ol-mouse-position {
//   color: rgb(12, 12, 12);
//   font-size: 16px;
//   font-weight: 600;
//   position: absolute;
//   bottom: 2%;
//   right: 2%;
//   background-color: rgb(255, 255, 255);
//   width: 350px;
//   padding: 3px 15px;
//   border: 2px solid rgb(0, 110, 255);
// }

::ng-deep .ol-zoom {
  width: 100px;

  button {
    text-decoration: none;
    display: inline;
    padding: 5px 16px;
    margin: 3px 3px;
    background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
    background-position: 85% 0;
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
    transition: .5s;

    &:hover {
      box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
      background-position: 0 0;
      cursor: pointer;
    }
  }
}

::ng-deep .ol-rotate {
  width: 100px;

  button {
    text-decoration: none;
    display: inline;
    padding: 5px 14px;
    margin: 3px 3px;
    background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
    background-position: 85% 0;
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
    transition: .5s;

    &:hover {
      box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
      background-position: 0 0;
      cursor: pointer;
    }
  }
}

::ng-deep .ol-attribution {
  // display: none;
  position: absolute;
  bottom: 0%;
  right: 1%;
}

::ng-deep .ol-attribution-collapse {
  display: none;
}


::ng-deep .ol-full-screen {
  width: 100px;

  button {
    text-decoration: none;
    display: inline;
    padding: 5px 14px;
    margin: 3px 3px;
    background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
    background-position: 85% 0;
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
    transition: .5s;

    &:hover {
      box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
      background-position: 0 0;
      cursor: pointer;
    }
  }
}

::ng-deep .ol-overviewmap {
  width: 100px;

  button {
    text-decoration: none;
    display: inline;
    padding: 5px 18px;
    margin: 3px 3px;
    background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
    background-position: 85% 0;
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
    transition: .5s;

    &:hover {
      box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
      background-position: 0 0;
      cursor: pointer;
    }
  }
}

::ng-deep .ol-zoom-extent {
  width: 100px;

  button {
    text-decoration: none;
    display: inline;
    padding: 5px 15.5px;
    margin: 3px 3px;
    background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
    background-position: 85% 0;
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
    transition: .5s;

    &:hover {
      box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
      background-position: 0 0;
      cursor: pointer;
    }
  }
}

.map-container {
  // flex-grow: 1;
  height: 100%;
  width: 100%;

  &__wrapper-mini {
    border:3px solid black;
    height: 541px;
    width: 506px;
    z-index: 1;
    position: absolute;
    top: 10%;
    right: 27%;
    background-color: rgb(243, 243, 243);
  }

  &__drag {
    background-color: #6ab1d7;
    height: 35px;

    &:hover {
      cursor: all-scroll;
    }
  }

  &__msc {
    height: 500px;
    width: 500px;
  }

  &__close {
    z-index: 2;
    position: absolute;
    right: 0%;
    width: 43px;
    padding: 7px 15.5px;
    margin: 3px 3px;
    background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
    background-position: 85% 0;
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: white;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
    transition: .5s;

    &:hover {
      box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
      background-position: 0 0;
      cursor: pointer;
    }
  }

  &__coordinate {
    z-index: 3;
    color: rgb(12, 12, 12);
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    bottom: 2%;
    right: 1%;
    background-color: rgb(255, 255, 255, 0.6);
    width: 225px;
    padding: 3px 15px;
  }

  // &__scale {
  //   color: rgb(12, 12, 12);
  //   font-size: 16px;
  //   font-weight: 600;
  //   position: absolute;
  //   bottom: 7%;
  //   right: 1%;
  //   background-color: rgb(255, 255, 255);
  //   width: 185px;
  //   padding: 3px 12px;
  // }
}

.map {
  &__title {
    font-size: 22px;
    font-weight: 800;
  }

  &__main {
    display: flex;
    height: 100%;
  }

  &__left-bar {
    width: 26.3%;
    background-color: var(--sidebar-color);
  }

  &__coordinates {
    border: 2px solid rgb(0, 110, 255);
    padding: 10px;
    min-height: 75px;
  }

  &__context-menu {
    height:100px;
    background-color:rgb(189, 205, 218);
    text-align: center;
  }

  &__draw{
    margin: 5px;
    width: 139px;
  }

  &__layers {
    display: grid;
    margin: 15px;
  }

  &__radio {
    margin: 5px;
  }

  &__properties {
    height: calc(100% - 64px);
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    background: #ffffff;
    width: 20%;
    max-width: 30%;
    padding: 13px;
  }

  &__panel {
    position: absolute;
    z-index: 1;
    left: 23%;
    top: 4.8%;
    text-decoration: none;
    display: inline;
    padding: 0px 15.5px;
    margin: 3px 3px;
    background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
    background-position: 85% 0;
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: white;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
    transition: .5s;

    &:hover {
      box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
      background-position: 0 0;
      cursor: pointer;
    }
  }

  &__panel-marcer {
    position: absolute;
    z-index: 1;
    left: 25.7%;
    top: 4.9%;
    text-decoration: none;
    display: inline;
    padding: 0px 15.5px;
    margin: 3px 3px;
    background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
    background-position: 85% 0;
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: white;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
    transition: .5s;

    &:hover {
      box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
      background-position: 0 0;
      cursor: pointer;
    }
  }
}

@media (max-width: 2560px) {
  .map {
    &__panel {
      top: 4.9%;
    }
  }
}

@media (max-width: 1920px) {
  ::ng-deep .ol-rotate {
    button {
      padding: 5px 15px;
    }
  }
  ::ng-deep .ol-scale-line {
    bottom: 2%;
    right: 93%;
  }

  .map {
    &__panel {
      top: 6.8%;
      left: 23.6%;
    }

    &__panel-marcer {
      top: 6.8%;
      left: 27.1%;
    }
  }
}


