:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.map-container {
  flex-grow: 1;
}

.map {
  &__title {
    font-size: 22px;
    font-weight: 800;
  }

  &__main {
    display: flex;
    flex-grow: 1;
  }

  &__left-bar {
    width: 20em;
    background-color: var(--sidebar-color);
  }
}
