<div class="coordinates">
  <div class="coordinates__title">
    <h3>Добавить поле координат</h3>
    <div class="coordinates__add">
      <button
        mat-icon-button
        (click)="addCoordinates()"
      >
        <mat-icon>add_box</mat-icon>
      </button>
    </div>
  </div>

  <form
    class="coordinates__form"
    [formGroup]="form"
    (ngSubmit)="sendCoordinates()"
    *ngIf="form.controls['coordinates'].value != ''"
  >
    <div formArrayName="coordinates">
      <div class="coordinates__coord"  *ngFor="let skill of coordinatesControl.controls; let i = index"  [formGroupName]="i">
        <mat-form-field class="" appearance="outline">
          <mat-label>Координата Х</mat-label>
            <input
              formControlName="coordinateX"
              matInput
            >
        </mat-form-field>

        <mat-form-field class="" appearance="outline">
          <mat-label>Координата Y</mat-label>
            <input
              formControlName="coordinateY"
              matInput
            >
        </mat-form-field>
      </div>
    </div>
    <button 
      class="border-button"
      type="submit"
      [disabled]="form.invalid || submitted"
    >
      Отправить координаты
    </button>
  </form>

<div *ngIf="isCoordinates">
  <div *ngIf="form.controls['coordinates'].value.length != 0">
    <h3>Скопируйте координаты</h3>
      <form class="coordinates__click" [formGroup]="coordinatesform">
        Координата Х :
        <mat-form-field class="" appearance="outline">
          <mat-label>Координата Х</mat-label>
            <input
              formControlName="clickCoordinateX"
              matInput
            >
            <button
              matSuffix
              mat-icon-button
              [matTooltip]="'Копировать координаты'"
            >
                <mat-icon>content_copy</mat-icon>
            </button>
        </mat-form-field>
        Координата Y :
        <mat-form-field class="" appearance="outline">
          <mat-label>Координата Y</mat-label>
            <input
              formControlName="clickCoordinateY"
              matInput
            >
            <button
              matSuffix
              mat-icon-button
              [matTooltip]="'Копировать координаты'"
            >
              <mat-icon>content_copy</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>
</div>
</div>