<app-custom-http-error-massage
    *ngIf="validationErrors$ | async"
    [httpErrorsProps]="validationErrors$ | async"
></app-custom-http-error-massage>
<div class="forms">
    <form class="form" [formGroup]="form" (ngSubmit)="submit()">
        <h2 class="form__title">Форма обратной связи</h2>
        <div class="form__groupcontrol">
            <mat-form-field class="form__control" appearance="outline">
                <mat-label>Имя</mat-label>
                <input
                    matInput
                    formControlName="name"
                    [errorStateMatcher]="matcher"
                    placeholder="Имя"
                    appCheckNumbers
                    appCheckSpecialCharacters
                    appAutoCompleteOff
                />
                <mat-error *ngIf="form.controls['name'].hasError('required')">Введите имя</mat-error>
            </mat-form-field>

            <mat-form-field class="form__control" appearance="outline">
                <mat-label>Фамилия</mat-label>
                <input
                    matInput
                    formControlName="surname"
                    [errorStateMatcher]="matcher"
                    placeholder="Фамилия"
                    appCheckNumbers
                    appCheckSpecialCharacters
                    appAutoCompleteOff
                />
                <mat-error *ngIf="form.controls['surname'].hasError('required')">Введите фамилию</mat-error>
            </mat-form-field>
        </div>

        <div class="form__groupcontrol">
            <mat-form-field class="form__control" appearance="outline">
                <mat-label>Возраст</mat-label>
                <input
                    matInput
                    formControlName="age"
                    placeholder="Возраст"
                    appCheckNegativeNumber
                    appCheckAllLetters
                    appCheckSpecialCharacters
                    appAutoCompleteOff
                />
                <mat-error *ngIf="form.controls['age'].hasError('required')">Введите возраст</mat-error>
                <mat-error *ngIf="form.controls['age'].hasError('min')">Ограничение по возрасту 18</mat-error>
                <mat-error *ngIf="form.controls['age'].hasError('max')">Максимально допустипый возраст 30 лет</mat-error>
            </mat-form-field>

            <mat-form-field class="form__control" appearance="outline">
                <mat-label>Дата рождения</mat-label>
                <input
                    matInput
                    formControlName="dateOfBirth"
                    [matDatepicker]="picker"
                    appAutoCompleteOff
                    appCheckSpecialCharacters
                    appCheckAllLetters
                />
                <mat-hint></mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="form.controls['dateOfBirth'].hasError('required')">Введите дату рождения</mat-error>
            </mat-form-field>

            <section class="form__control_checkbox">
                <mat-radio-group formControlName="sex">
                    <mat-radio-button value="man">Муж</mat-radio-button>
                    <mat-radio-button value="woman">Жен</mat-radio-button>
                </mat-radio-group>
            </section>
        </div>

        <div class="form__groupcontrol">
            <mat-form-field class="form__control" appearance="outline">
                <mat-label>Адрес</mat-label>
                <input
                    matInput
                    formControlName="address"
                    [errorStateMatcher]="matcher"
                    placeholder="Укажите ваш город"
                    appCheckSpecialCharacters
                    appAutoCompleteOff
                />
                <mat-error *ngIf="form.controls['address'].hasError('required')">Введите адрес</mat-error>
            </mat-form-field>

            <mat-form-field class="form__control" appearance="outline">
                <mat-label>Почта</mat-label>
                <input matInput formControlName="email" [errorStateMatcher]="matcher" placeholder="Почта" appAutoCompleteOff />
                <mat-error *ngIf="form.controls['email'].hasError('required')">Введите почту</mat-error>
                <mat-error *ngIf="form.controls['email'].hasError('email')">Не корректный email</mat-error>
            </mat-form-field>

            <mat-form-field class="form__control" appearance="outline">
                <mat-label>Телефон</mat-label>
                <input
                    matInput
                    formControlName="phone"
                    [errorStateMatcher]="matcher"
                    placeholder="Телефон"
                    prefix="+7"
                    mask="(000) 000 00 00"
                    appAutoCompleteOff
                />
                <mat-error *ngIf="form.controls['phone'].hasError('required')">Введите телефон</mat-error>
            </mat-form-field>
        </div>

        <section class="form__control form__control_about">
            <mat-checkbox (change)="isShowAbout()" [value]="isAbout ? 'no' : 'yes'">
                {{ isAbout ? 'Скрыть' : 'Добавить' }} информацю о себе
            </mat-checkbox>
        </section>

        <div class="form__groupcontrol" *ngIf="isAbout">
            <mat-form-field class="form__control" appearance="outline">
                <mat-label>Расскажите немного о себе</mat-label>
                <textarea
                    matInput
                    formControlName="about"
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                    appAutoCompleteOff
                >
                </textarea>
            </mat-form-field>
        </div>

        <button type="button" [matTooltip]="'Добавить ключевой навык'" class="btn click" (click)="addSkills()">
            <mat-icon>add</mat-icon>
        </button>

        <div class="form__groupcontrol form__groupcontrol_skills" formArrayName="skills" *ngIf="form.controls['skills'].value !== ''">
            <div *ngFor="let skill of aboutControl.controls; let i = index" [formGroupName]="i">
                <mat-form-field class="form__control form__control_skill" appearance="outline">
                    <mat-label>Добавьте ключевой навык</mat-label>
                    <input formControlName="skill" matInput appAutoCompleteOff />
                </mat-form-field>
            </div>
        </div>

        <button class="form__control_btn btn click" type="submit" [disabled]="form.invalid || submitted">Отправить</button>
        <!-- <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid || submitted">
      <mat-icon>
        error_outline
      </mat-icon>
    </button>
    <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid || submitted">
      <mat-icon>
        check_circle
      </mat-icon>
    </button>
    <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid || submitted">
      <mat-icon>
        report_problem
      </mat-icon>
    </button> -->
    </form>
</div>
