<app-title [title]="angularFeatures"></app-title>

<div class="features__main">
  <div class="features__left-bar">
    <div class="features__btn">
      <button 
        class="border-button" 
        [routerLink]="['forms']"
      >
        Forms
      </button>
      <button
        class="glow-button" 
        [routerLink]="['tabs']"
      >
        Tabs
      </button>
      <button>
        <a href="#idi" class="flipper-container">
          <div id="idi" class="flipper">
            <div class="front-face" data-icon="&#x27a3;">
              <span data-hover="Clicked">Click Me</span>
            </div>
            <div class="back-face" data-icon="&#10003;">Thank You</div>
          </div>
        </a>
      </button>
    </div>
  </div>
  <div class="features__content">
    <router-outlet></router-outlet>
  </div>
</div>
