<form class="form" [formGroup]="form" (ngSubmit)="editArticle()">

  <h2 class="form__title">Форма редактирования раздела</h2>
  <mat-form-field class="form__control" appearance="outline">
    <mat-label>Заголовок раздела</mat-label>
    <input type="title" matInput formControlName="title" [errorStateMatcher]="matcher" placeholder="Article title">
    <mat-error *ngIf="form.controls['title'].hasError('required')">Введите название раздела!</mat-error>
  </mat-form-field>

  <div class="form__control">
    <label>Содержание раздела</label>
    <quill-editor formControlName="content"></quill-editor>
  </div>

  <mat-form-field class="form__control" appearance="outline">
    <mat-label>Автор добавленного раздела</mat-label>
    <input type="author" matInput formControlName="author" [errorStateMatcher]="matcher" placeholder="Article author">
    <mat-error *ngIf="form.controls['author'].hasError('required')">Введите имя автора раздела!</mat-error>
  </mat-form-field>

  <button type="submit" class="border-button" [disabled]="form.invalid || submitted">Редактировать</button>

</form>
