<app-title [title]="article"></app-title>
<div class="container">
	<div class="container__sort">
		<mat-form-field [style.width.%]="25" appearance="outline">
			<mat-label>Найти раздел по его названию</mat-label>
			<input type="text" matInput placeholder="введите название раздела" [(ngModel)]="searchArticleName" />
			<button matSuffix mat-icon-button aria-label="search">
				<mat-icon>search</mat-icon>
			</button>
		</mat-form-field>

		<mat-form-field [style.width.%]="25" appearance="outline">
			<mat-label>Сортировать по...</mat-label>
			<mat-select>
				<mat-option>По дате создания</mat-option>
				<mat-option>По тегам</mat-option>
				<mat-option>По авторам</mat-option>
			</mat-select>
		</mat-form-field>
	</div>

	<div class="categories" *ngIf="articles$; else loadingTag">
		<h4>Популярные теги</h4>
		<div class="categories__items">
			<app-article-tags [tagsProps]="allArticles"></app-article-tags>
		</div>
	</div>

	<div class="categories" *ngIf="articles$; else loading">
		<div class="categories__items">
			<div *ngFor="let article of articles$ | async | searchArticles : searchArticleName">
				<app-article-page class="categories__item" [articleProps]="article"></app-article-page>
			</div>
		</div>
	</div>
	<div class="categories__pagination">
		<mat-paginator #paginator [pageSizeOptions]="pageSizes" [showFirstLastButtons]="true"></mat-paginator>
	</div>

	<!--  <mat-paginator-->
	<!--    #paginator-->
	<!--    (page)="pageChangeEvent($event)"-->
	<!--    [pageIndex]="currentPage"-->
	<!--    [pageSize]="pageSize"-->
	<!--    [length]="totalPage"-->
	<!--    [pageSizeOptions]="pageSizes"-->
	<!--    [showFirstLastButtons]="true"-->
	<!--  ></mat-paginator>-->
</div>

<ng-template #loading>
	<mat-spinner></mat-spinner>
</ng-template>

<ng-template #loadingTag>
	<p>LOADING...</p>
</ng-template>
