<app-title [title]="article"></app-title>
<div class="container">
  <mat-form-field [style.width.%]="100" appearance="outline">
    <mat-label>Найти раздел по его названию</mat-label>
      <input type="text" matInput placeholder="введите название раздела" [(ngModel)]="searchArticleName">
      <button matSuffix mat-icon-button aria-label="search">
        <mat-icon>search</mat-icon>
      </button>
  </mat-form-field>

  <div class="categories" *ngIf="allArticles; else loading">
    <div class="categories__items">
      <div *ngFor="let article of allArticles | searchArticles : searchArticleName | paginate: {
        itemsPerPage: this.pageSize,
        currentPage: page,
        totalItems: this.allArticles.length
      }">
        <app-article-page  class="categorie__item"  [article]="article"></app-article-page>
      </div>
    </div>
    <div class="categories__pagination">
      <pagination-controls
        class="categories__pagination__controls"
        (pageChange)="handlePageChange($event)"
        previousLabel="Prev"
        nextLabel="Next"
      ></pagination-controls>

      <select class="categories__pagination__select" (change)="handlePageSizeChange($event)">
        <option *ngFor="let size of pageSizes" [ngValue]="size">
          {{ size }}
        </option>
      </select>
    </div>
  </div>
<!--  <mat-paginator-->
<!--    [length]="this.allArticles.length"-->
<!--    [pageSize]="5"-->
<!--    [pageSizeOptions]="[5, 10, 15]"-->
<!--    aria-label="Select page"-->
<!--  ></mat-paginator>-->
</div>


<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
