<div class="form">
  <div class="form-group">
    <input type="file" name="file" id="file" class="input-file" (change)="selectFile($event)">
    <label for="file" class="btn btn-tertiary js-labelFile">
      <span class="js-fileName">Загрузить файл</span>
      <mat-icon>insert_drive_file</mat-icon>
    </label>
  </div>
</div>

<div style="text-align: center;">
    <button
      class="border-button"
      [disabled]="!selectedFiles"
      (click)="uploadFile()"
    >
      Добавить файл в БД
    </button>
</div>

<div *ngIf="currentFileUpload">
  <div 
    style="text-align: center;"
    role="progressbar"
    attr.aria-valuenow="{{ percentage }}"
    aria-valuemin="0"
    aria-valuemax="100"
    [ngStyle]="{ width: percentage + '%' }"
  >
    {{ percentage }}%
  </div>
</div>

<div class="card">
  <div class="card-header">List of Files</div>
  <ul
    class="list-group list-group-flush"
    *ngFor="let file of fileUploads"
  >
    <li class="list-group-item">
      <app-loading-data-details [fileUpload]='file'></app-loading-data-details>
    </li>
  </ul>
</div>