<div class="container">
	<div class="accordion" *ngIf="articles$ | async; else loading">
		<div class="accordion__title">
			<h2>Тут представлены все имеющиеся разделы.</h2>
			<h2>Они сгруппированы по тегам и указано их общее количество.</h2>
		</div>

		<div class="accordion__buttons">
			<button mat-button (click)="accordion.openAll()">Expand All</button>
			<button mat-button (click)="accordion.closeAll()">Collapse All</button>
		</div>

		<mat-accordion class="accordion__headers" multi>
			<mat-expansion-panel *ngFor="let item of groupedArticles">
				<mat-expansion-panel-header>
					<mat-panel-title>
					<h3>{{ item.title ? item.title : 'Нет тега' }}</h3>
						<div
							[matBadge]="item.articles.length"
							matBadgeSize="medium"
							matBadgePosition="after"
						>
							<mat-icon><i class="material-icons">view_agenda</i></mat-icon>
						</div>
					</mat-panel-title>
					<mat-panel-description>


					</mat-panel-description>
				</mat-expansion-panel-header>
					<div *ngFor="let article of item.articles; let i = index">
						{{ i + 1 }}. <b>Автор</b> - {{ article.author }}. <b>Раздел опубликован:</b> {{ article.date | date : 'd MMMM y' }}
					</div>
			</mat-expansion-panel>
		</mat-accordion>
	</div>
</div>



<ng-template #loading>
	<mat-spinner></mat-spinner>
</ng-template>
