.dashboard {

  &__container {
    width: 1200px;
    margin: 0 auto;
  }

  &__title {
    text-align: center;
  }

  &__control {
  display: block;
  color: #888;
  margin-bottom: .8rem;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 7px 17px;
  text-align: center;
}

table th {
  background: var(--primary-color);
  color: white;
  height: 1rem;
  padding: 0.5rem;
}