<div class="container">
  <form class="form" [formGroup]="form" >
    <h2>Создайте свой профиль в приложение Angular features</h2>
    <h5 class="active" [routerLink]="['/']">Вернуться к странице авторизации</h5>

    <mat-form-field class="form__control" appearance="outline">
      <mat-label>Username</mat-label>
      <input type="username" matInput formControlName="username" [errorStateMatcher]="matcher" placeholder="Serenity">
      <mat-error *ngIf="form.controls['username'].hasError('username') && !form.controls['username'].hasError('required')">
        Пожалуйста, введите имя пользователя
      </mat-error>
      <mat-error *ngIf="form.controls['username'].hasError('required')">
        Имя пользователя, <strong>обязательно</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form__control" appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher" placeholder="Ex. pat@example.com">
      <mat-error *ngIf="form.controls['email'].hasError('email') && !form.controls['email'].hasError('required')">
        Пожалуйста, введите действительный адрес электронной почты
      </mat-error>
      <mat-error *ngIf="form.controls['email'].hasError('required')">
        Адрес электронной почты, <strong>обязателен</strong>
      </mat-error>
    </mat-form-field>
  
    <mat-form-field class="form__control" appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" [errorStateMatcher]="matcher" placeholder="**********">
      <mat-error *ngIf="form.controls['password'].hasError('password') && !form.controls['password'].hasError('required')">
        Пожалуйста, введите действительный пароль
      </mat-error>
      <mat-error *ngIf="form.controls['password'].hasError('required')">
        Пароль, <strong>обязателен</strong>
      </mat-error>
      <mat-error *ngIf="form.controls['password'].hasError('minlength')">
        Пароль должен быть не менее {{ form.get('password')?.errors?.['minlength']?.requiredLength }} символов.
        Сейчас пароль {{ form.get('password')?.errors?.['minlength']?.actualLength }} символ.
      </mat-error>
    </mat-form-field>
  
      <button (click)="createNewUser()" class="btn click" [disabled]="form.invalid || submitted">Создать профиль</button>
  </form>
</div>