.container {
  height: 100%;
  position: relative
}
.form {
  max-width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  &__control {
  display: block;
  color: #888;
  margin-bottom: .8rem;

    &.invalid {
      color: var(--danger-color);
      input {
        border-color: var(--danger-color);
      }
    }
  }
}

.active {
  font-weight: bold;
  cursor: pointer;
  opacity: 1;

  &:hover {
    color: var(--border-buttom);
  }
}