<nav class="navbar bg-dark">
  <h2 [style.paddingTop.px]="3">Angular features {{emoj}}</h2>
    <ul class="navbar__menu">
      <li >
        <h3>{{ actualDate | async | date: "d MMMM y , EE H.mm:ss" }}</h3>
      </li>
    </ul>
</nav>

<div class="wrapper">
  <div class="container">
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/design_128.png?raw=true">
                <h3>Assessment</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Теоретически материалы для подготовки к тестированию</p>
                    <a [routerLink]="['/all_articles']">Читать больше</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/code_128.png?raw=true">
                <h3>OpenLayer Map</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Базовый функционал при работе с картой</p>
                    <a [routerLink]="['/map']">Перейти к карте</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/launch_128.png?raw=true">
                <h3>Admin</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Админестративная панель</p>
                    <a [routerLink]="['/admin']">Перейти</a>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <app-timer></app-timer>
  </div>
</div>

<img src="../../../../assets/image/biological-hazard-color.png" alt="" style="width: 100px;">
<img src="../../../../assets/image/biological-hazard-color.svg" alt="" style="width: 100px;">
<img src="../../../../assets/image/biological-hazard-triangles.png" alt="" style="width: 100px;">
<img src="../../../../assets/image/radiation-hazard-color.png" alt="" style="width: 100px;">
<img src="../../../../assets/image/radiation-hazard-marcer.png" alt="" style="width: 100px;">
<img src="../../../../assets/image/radiation-hazard-orange.png" alt="" style="width: 100px;">
<img src="../../../../assets/image/radiation-hazard-trianges.png" alt="" style="width: 100px;">
<img src="../../../../assets/image/radiation_hazard-black.png" alt="" style="width: 100px;">



<div class="container">
  <router-outlet></router-outlet>
</div>
