<nav class="navbar bg-dark">
  <h2 [style.paddingTop.px]="3">Angular features {{emoj}}</h2>
    <ul class="navbar__menu">
      <li >
        <h3>{{ actualDate | async | date: "EEEE d.MM.y H.mm:ss" }}</h3> 
      </li>
    </ul>
</nav>

<div class="wrapper">
  <div class="container">
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/design_128.png?raw=true">
                <h3>Assessment</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                    <a [routerLink]="['/all_articles']">Read More</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/code_128.png?raw=true">
                <h3>Code</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                    <a href="#">Read More</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/launch_128.png?raw=true">
                <h3>Admin</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                    <a [routerLink]="['/admin']">Read More</a>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <app-timer></app-timer>
  </div>
</div>


<div class="container">
  <router-outlet></router-outlet>
</div>

