/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '~quill/dist/quill.snow.css';

@import "ol/ol.css";

@import './assets/styles/buttons.scss';
@import 'assets/styles/snack-bar';
@import './assets/styles/variables.scss';
@import './assets/styles/spinner.scss';
@import './assets/styles/scrollbar.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--sidebar-color);
  //color: #333;
  margin: 0;
  padding: 0;
  overflow: auto;
}
