.border-button {
  text-decoration: none;
  display: inline-block;
  padding: 6px 10px;
  margin: 10px 20px;
  position: relative;
  color: rgb(0,0,0);
  border: 2px solid rgba(255, 255, 255, .4);
  background: none;
  font-weight: 600;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: 2px;
}

.border-button:before, .border-button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}

.border-button:before {
  bottom: 0;
  left: 0;
  border-left: 2px solid rgb(0,0,0);
  border-top: 2px solid rgb(0,0,0);
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}

.border-button:after {
  top: 0;
  right: 0;
  border-right: 2px solid rgb(0,0,0);
  border-bottom: 2px solid rgb(0,0,0);
  transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}

.border-button:hover:before,
.border-button:hover:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}

.border-button:hover:before {
  transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}

.border-button:hover:after {
  transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}

.border-button:hover {
  background: rgba(255, 255, 255, .2);
  cursor: pointer;
}

.border-button:disabled {
  color: #acacac;
}

@media(max-width: 2560px) {
  .border-button {
    font-size: 18px;
  }
}

@media(max-width: 1920px) {
  .border-button {
    font-size: 14px;
  }
}

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 4px;
  //padding: 9px 10px;
	padding: 8px 7px;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
}

.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
}

.delete {
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.delete:hover {
  box-shadow: 0 0 40px 40px #e74c3c inset;
}

.click {
  border-color: var(--border-buttom);
  color: #fff;
  box-shadow: 0 0 40px 40px var(--border-buttom) inset, 0 0 0 0 var(--border-buttom);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.click:hover {
  box-shadow: 0 0 10px 0 var(--border-buttom) inset, 0 0 10px 4px var(--border-buttom);
  color: black;
}

.click:disabled {
  border-color: #e0e0e0;
  box-shadow: 0 0 40px 40px #e0e0e0 inset, 0 0 0 0 #e0e0e0 ;
  color: #acacac;

  &:hover {
    cursor:not-allowed;
    box-shadow: 0 0 40px 40px #e0e0e0 inset, 0 0 0 0 #e0e0e0 ;
    color: #acacac;
  }
}
