:root {
  --dark-color: #000000;
  --light-color: #bdc4e298;
  --danger-color: #b10012;
  --success-color: #064b16;
  --header-color: #30b446;
  --sidebar-color: #fff;
  --border-right: 1px solid #dadde1;
  --border-buttom: #3498db;
}
