:root {
  --dark-color: #000000;
  --light-color: #bdc4e298;
  --danger-color: #b10012;
  --success-color: #064b16;
	--warning-color: #ffc058;
  --sidebar-color: #fff;
  --card-color:  #333;
  --border-right: 1px solid #dadde1;
  --border-buttom: #3498db;
  --height: 60px;
}
