.card {
  padding: 1rem;
  border: #ccc 1px solid;
  margin: 3px;
  width: 390px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
  }

  &__tags {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    display: flex
  }
}
