<div class="card">
  <div class="card__header">
    <h2>{{ article.title }}</h2>
    <small>{{ article.date | date:"d.MM.y H:mm" }}</small>
  </div>

  <div>
    <small>{{ article.author }}</small>
  </div>

  <div class="card__button">
      <!-- Передаем при переходе по роуту queryParams and fragment(#)-->
  <button
    class="btn click"
    [routerLink]="['/article', article.id]"
    [queryParams]="{showQueryParams: article.id}"
    [fragment]="article.id"
  >
    Открыть через routerLink
  </button>
  <button
    class="btn click"
    (click)="openArticle()"
  >
    Открыть через navigate
  </button>
  </div>
</div>
